@import url("root.css");
.labour-cathegory {
	background-color: var(--ver-claro-1);
	display: block;
	width: max-content;
	margin: 10px auto;
	padding: 10px;
	border-radius: 10px;
}

section.biography {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 15px 2.5vw;
}
.name {
	background-color: var(--ver-claro-1);
	padding: 15px;
	border-radius: 15px;
}
.bio-image {
	grid-area: bio-image;
	background-color: #d1df96e8;
	border-radius: 15px;
}
.bio-image > div > img {
	width: 100%;
	height: auto;
}
.biography {
	grid-area: biography;
}
.personal-interest {
	grid-area: personal-interest;
}
.contact-data {
	grid-area: contact-data;
}
.contact-data > div {
	width: 100%;
	margin-bottom: 15px;
	border: 1px solid #7bdb38;
}
.research-lines {
	grid-area: research-lines;
}
.data {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.data > div {
	padding: 5px;
	margin: 0px 5vw;
	border: 1px solid #7bdb38;
	border-radius: 10px;
}
.biography-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, max-content);
	grid-template-areas:
		"bio-image  biography"
		"research-lines personal-interest"
		"contact-data contact-data";
	gap: 5px;
}
.biography-grid > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 15px;
}
.biography-grid > div > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.bio-content {
	background-color: var(--ver-oscuro-1);
	padding: 15px;
	border-radius: 15px;
	height: 100%;
}
/* Tablet's screen size */
@media (max-width: 768px) {
	.biography-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, max-content);
		grid-template-areas:
			"bio-image bio-image"
			"biography research-lines"
			"personal-interest personal-interest"
			"contact-data contact-data";
		gap: 5px;
	}
}
@media (max-width: 554px) {
	.biography-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, max-content);
		grid-template-areas:
			"bio-image"
			"biography"
			"research-lines"
			"personal-interest"
			"contact-data";
		gap: 5px;
	}
}
