.labour-cathegory {
    background-color: rgba(128, 128, 128, 0.750);
    display: block;
    width:  max-content;
    margin: 10px auto ;
    padding: 10px;
    border-radius: 10px;
}

section.biography {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 2.5vw;
}
.name {
    background-color: rgba(128, 128, 128, 0.850);
    padding: 15px;
    border-radius: 15px;
}
.bio-image {
    grid-area: bio-image;
    background-color: rgba(128, 128, 128, 0.60);
    border-radius: 15px;
}
.bio-image > div > img {
    width:100%;
    height:auto;
}
.biography {
    grid-area: biography;
}
.personal-interest {
    grid-area: personal-interest;
}
.contact-data {
    grid-area: contact-data;
}
.contact-data > div {
    width: 100%;
    margin-bottom: 15px;
}
.data {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.data > div {
    padding: 5px;
    margin: 0px 5vw;
    border: 1px solid black;
    border-radius: 10px;
}
.biography-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    "bio-image  biography"
    "personal-interest personal-interest"
    "contact-data contact-data";
    gap: 5px;
}
.biography-grid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.bio-content {
    background-color: rgba(128, 128, 128, 0.850);
    padding: 15px;
    border-radius: 15px;
    height: 100%;
}
/* Tablet's screen size */
@media (max-width:768px) {
    .biography-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: 
    "bio-image bio-image"
    "biography biography"
    "personal-interest personal-interest"
    "contact-data contact-data";
    gap: 5px;
    }
}
@media (max-width:554px) {
    .biography-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, max-content);
        grid-template-areas: 
        "bio-image"
        "biography"
        "personal-interest"
        "contact-data";
        gap: 5px;
        }
}