@import url("root.css");
/** ==================================================
** Estilos seccion de objetivos y descripcion
** ================================================== */
section.objetivo-descripcion {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"objetivos objetivos  imagen imagen "
        "descripcion descripcion imagen imagen";
	gap: 0.35em;
	margin-bottom: 45px;
	border-radius: 15px;
    margin: 0 0.5em 3vw;
}
.objetivos{
    grid-area: objetivos;
    text-align: justify;
    color: black !important;
    background-color: var(--ver-claro-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.45em 0;
}
.descripcion {
    grid-area: descripcion;
    background-color: var(--ver-oscuro-4);
    color: white !important;
    text-align:justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.45em 0;
}
.imagen {
    grid-area: imagen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}
/** ==================================================
** Estilos seccion ¿Donde se hace?-¿Que se hace?
** ================================================== */
section.donde-y-que {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"donde-se-hace que-se-hace";
	gap: 0.35em;
	margin-bottom: 0.5vw;
    padding: 1.5vw;
}
.donde-se-hace {
    grid-area: donde-se-hace;
    text-align:justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.25em 0.45em 0.25em;
    border-radius: 15px 0px 0px 15px;
    border: 6px dotted black;
    border-right: 5px dashed black;
}
.que-se-hace {
    grid-area: que-se-hace;
    text-align:justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.25em 0.45em 0.25em;
    border-radius: 0px 15px 15px 0px;
    border: 6px dotted black;
    border-left: none;
}

/** ==================================================
** Estilos seccion quienes-trabajan
** ================================================== */

section.quienes-trabajan {
    display: grid;
	grid-template-columns: 1fr;
	gap: 0.35em;
	margin-bottom: 45px;
    margin-bottom: 0.3vw;
    padding: 1.5vw;
    background-color: var(--ver-claro-5);
}

/** ==================================================
** Estilos seccion de resultados conclusión e imagenes
** ================================================== */
section.resultados-conclusion-imagenes {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"resultados conclusion"
        "title title"
        "mini-galeria mini-galeria";
	gap: 0.35em;
	margin-bottom: 45px;
	border-radius: 15px;
    margin-bottom: 3vw;
    padding: 1.5vw;
}
.resultados {
    grid-area: resultados;
    text-align:justify;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--ver-claro-2);
    padding: 0 0.45em 0;
    border-top: 3px solid black;
    border-radius: 0px 0px 15px 15px;
}
.conclusion {
    grid-area: conclusion;
    text-align:justify;
    display: flex;
    flex-direction: column;
    justify-content:start;
    background-color: var(--ver-claro-5);
    padding: 0 0.45em 0;
    border-top: 3px solid var(--marron);
    border-radius: 0px 0px 15px 15px;
}
/* !Estilos para la seccion de mimi galeria que ira 
   !dentro de cada pagina de proyecto */

/*
*================================================================
* Estilos copiados de la galeria original
*================================================================ 
*/
.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.4);
	z-index: 2000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 0.25s ease;
	transition: all 0.5s ease;
	pointer-events: none;
}

.lightbox.activo {
	opacity: 1;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	pointer-events: auto;
}
.lightbox.activo > div {
	-webkit-transform: scale(1);
	transform: scale(1);
	max-width: 100%;
	max-height: 100%;
}
.lightbox .cerrar {
	width: 5em;
	height: 3em;
	background: orange;
	margin: 0 0 0.5em;
	color: var(--negro);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 1em;
	background-color: var(--blanco);
	-webkit-box-shadow: 0.25em 0.25em 0.6em var(--sombra-ppal), -0.25em -0.25em 0.6em var(--sombra-sec), inset 0 0 0 transparent,
		inset 0 0 0 transparent;
	box-shadow: 0.25em 0.25em 0.6em var(--sombra-ppal), -0.25em -0.25em 0.6em var(--sombra-sec), inset 0 0 0 transparent,
		inset 0 0 0 transparent;
	cursor: pointer;
}

.lightbox .cerrar:hover {
	color: var(--negro);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 1em;
	background-color: var(--blanco);
	-webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.25em 0.25em 0.6em var(--sombra-ppal),
		inset -0.25em -0.25em 0.6em var(--sombra-sec);
	box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.25em 0.25em 0.6em var(--sombra-ppal),
		inset -0.25em -0.25em 0.6em var(--sombra-sec);
}

.lightbox .grande {
	max-width: 75%;
	max-height: 75%;
	background: lightblue;
	color: var(--negro);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 1em;
	background-color: var(--blanco);
	-webkit-box-shadow: 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent,
		inset 0 0 0 transparent;
	box-shadow: 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
	margin-bottom: 0.5em;
}

.mini-galeria{
    grid-area: mini-galeria;
    max-width: 100%;
    padding: 0.3em 0.6em;
    display: grid;
    gap: 0.15em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.mini-galeria .li {
    height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
    overflow: hidden;
    background-color: #8aa97e;
}
.mini-galeria .li .img{
    min-height: 100%;
    width: 200px;
}
.title {
    grid-area: title;
}
@media (max-width: 992px) {
    section.objetivo-descripcion {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:4
            "objetivos objetivos imagen imagen"
            "descripcion descripcion imagen imagen"
            "descripcion descripcion imagen imagen";
    }
    section.donde-y-que{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "donde-se-hace que-se-hace";
    }
    section.resultados-conclusion-imagenes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "resultados conclusion "
            "resultados conclusion "
            "title title"
            "mini-galeria mini-galeria";
    }

}
@media (max-width: 554px) {
    section.objetivo-descripcion {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "objetivos imagen"
            "descripcion descripcion";
    }
    section.donde-y-que{
        grid-template-columns: repeat();
        grid-template-areas:
            "";
    }
    section.resultados-conclusion-imagenes {
        grid-template-columns: repeat();
        grid-template-areas:
            "";
    }
}
@media (max-width: 360px) {
    
    section.objetivo-descripcion {
        grid-template-columns: 1fr;
        grid-template-areas:
            "imagen"
            "objetivos"
            "descripcion";
    }

    section.donde-y-que{
        grid-template-columns: 1fr;
        grid-template-areas:
            "donde-se-hace"
            "que-se-hace";
    }
    .donde-se-hace {
        border-radius: 15px;
        border: 6px dotted black;
    }
    .que-se-hace {
        border-radius: 15px;
        border-radius: 15px;
        border: 6px dotted black;
    }

    section.resultados-conclusion-imagenes {
        grid-template-columns: 1fr;
        grid-template-areas:
            "resultados"
            "conclusion"
            "title"
            "mini-galeria";
    }
}
/*
*====================================================
*Contacto
*==================================================== 
*/
section#contact {
	display: block;
	margin: 2rem auto;
	width: clamp(35vw, 75vw, 90vw);
	border: 2px var(--ver-oscuro-2) solid;
	border-radius: 10px;
}
.data {
	font-family: "Poppins", "Open Sans", "Roboto", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
		Verdana, sans-serif;
	font-size: clamp(0.75rem, 1.3rem, 1.8rem);
	color: black;
	padding: 0.5rem;
}
.data > div {
	margin: 0 15px;
	padding: 2rem;

	background-color: var(--ocre-2);
	border: 1px solid var(--marron);
	border-radius: 15px;
	transition: all 0.3s;
}
.data > div:hover {
	background-color: var(--ocre-1);
}
.data > div a {
	color: rgb(0, 5, 82);
	transition: all 0.3s;
}
.data > div a:hover,
.data > div a:focus {
	color: rgb(22, 196, 219);
}