@import url("root.css");
/** ==================================================
** Estilos seccion de objetivos y descripcion
** ================================================== */
section.objetivo-descripcion {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"objetivos descripcion imagen imagen imagen";
	gap: 0.35em;
	margin-bottom: 45px;
	border-radius: 15px;
    margin: 0 0.5em 3vw;
}
.objetivos{
    grid-area: objetivos;
    text-align: justify;
    color: black !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.45em 0;
}
.descripcion {
    grid-area: descripcion;
    background-color: var(--ver-oscuro-4);
    color: white !important;
    text-align:justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.45em 0;
}
.imagen {
    grid-area: imagen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}
/** ==================================================
** Estilos seccion ¿Donde se hace?-¿Que se hace?
** ================================================== */
section.donde-y-que {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"donde-se-hace que-se-hace";
	gap: 0.35em;
	margin-bottom: 45px;
    margin-bottom: 3vw;
    padding: 1.5vw;
}
.donde-se-hace {
    grid-area: donde-se-hace;
    text-align:justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.25em 0.45em 0.25em;
    border-radius: 15px 0px 0px 15px;
    border: 6px dotted black;
    border-right: 5px dashed black;
}
.que-se-hace {
    grid-area: que-se-hace;
    text-align:justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.25em 0.45em 0.25em;
    border-radius: 0px 15px 15px 0px;
    border: 6px dotted black;
    border-left: none;
}

/** ==================================================
** Estilos seccion quienes-trabajan
** ================================================== */

section.quienes-trabajan {
    display: grid;
	grid-template-columns: 1fr;
	gap: 0.35em;
	margin-bottom: 45px;
    margin-bottom: 3vw;
    padding: 1.5vw;
}

/** ==================================================
** Estilos seccion de resultados conclusión e imagenes
** ================================================== */
section.resultados-conclusion-imagenes {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"resultados conclusion"
        "title title"
        "mini-galeria mini-galeria";
	gap: 0.35em;
	margin-bottom: 45px;
	border-radius: 15px;
    margin-bottom: 3vw;
    padding: 1.5vw;
}
.resultados {
    grid-area: resultados;
    text-align:justify;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--ver-claro-2);
    padding: 0 0.45em 0;
    border-top: 3px solid black;
    border-radius: 0px 0px 15px 15px;
}
.conclusion {
    grid-area: conclusion;
    text-align:justify;
    display: flex;
    flex-direction: column;
    justify-content:start;
    background-color: var(--ver-claro-5);
    padding: 0 0.45em 0;
    border-top: 3px solid var(--marron);
    border-radius: 0px 0px 15px 15px;
}
/* !Estilos para la seccion de mimi galeria que ira 
   !dentro de cada pagina de proyecto */
.mini-galeria{
    grid-area: mini-galeria;
    max-width: 100%;
    padding: 0.3em 0.6em;
    display: grid;
    gap: 0.15em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.mini-galeria .li {
    height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
    overflow: hidden;
    background-color: #8aa97e;
}
.mini-galeria .li .img{
    min-height: 100%;
    width: 200px;
}
.mini-galeria {
    grid-area: mini-galeria;
}
.title {
    grid-area: title;
}
@media (max-width: 992px) {
    section.objetivo-descripcion {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "objetivos objetivos imagen imagen"
            "descripcion descripcion imagen imagen"
            "descripcion descripcion imagen imagen";
    }
    section.donde-y-que{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "donde-se-hace que-se-hace";
    }
    section.resultados-conclusion-imagenes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "resultados conclusion "
            "resultados conclusion "
            "title title"
            "mini-galeria mini-galeria";
    }

}
@media (max-width: 554px) {
    section.objetivo-descripcion {
        grid-template-columns: repeat();
        grid-template-areas:
            "";
    }
    section.donde-y-que{
        grid-template-columns: repeat();
        grid-template-areas:
            "";
    }
    section.resultados-conclusion-imagenes {
        grid-template-columns: repeat();
        grid-template-areas:
            "";
    }
}
@media (max-width: 360px) {
    section.objetivo-descripcion {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "imagen objetivo"
            "imagen descripcion";
    }
    section.donde-y-que{
        grid-template-columns: 1fr;
        grid-template-areas:
            "donde-se-hace"
            "que-se-hace";
    }
    section.resultados-conclusion-imagenes {
        grid-template-columns: 1fr;
        grid-template-areas:
            "resultados"
            "title"
            "conclusion";
    }
}