/* #86a135 Color del boton */
.fondo {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: #e2e07cd5;
    /* margin: 1.5rem; */
    border: 15px solid #806442d5;
}
.murcielagos {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor-imagen {
    min-width: 150px;
    min-height: 100%;
    transform: rotate(180deg);
}
.trabajador {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
button {
    font-size: 2.5rem;
    padding: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #86a135;
}