section.main-title {
    width: 100vw;
    min-height: 10vh;
}
.main-title div.title {
    display:flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    flex-wrap: wrap;
    width:60%;
    margin: 2.5vh auto 2.5vh;
    padding: 5.5px 0;
    color: rgb(255, 255, 255);
    background: #000000;
}
