:root {
	--azul-claro: #6dccb0;
	--ver-oscuro-1: #80c97b;
	--ver-oscuro-2: #538b2c;
	--ver-oscuro-3: #294615;
	--ver-claro-1: #b5d181;
	--ver-claro-2: #a4e676;
	--ver-claro-3: #7bdb38;
	--ver-claro-4: #d0df96;
	--ocre-1: #ffea9c;
	--ocre-2: #f5d08f;
	--marron: rgb(57, 43, 11);
}
footer {
	width: 100%;
	color: #fff;
	background: var(--ver-oscuro-3);
	display: flex;
	justify-content: center;
	padding: 2.5vh 2.5vw;
}
footer ul {
	list-style: none;
}
footer ul li {
	margin-bottom: 10px;
}
footer a {
	text-decoration: underline;
	color: rgb(255, 255, 255);
	transform: translateY(-5px);
	transition: all 0.3s;
}
footer a:focus-within,
footer a:hover {
	color: rgb(22, 196, 219);
	transform: translateY(0px);
}
footer p {
	margin-bottom: 5px;
}
footer img {
	width: 75%;
	margin: 0 12.5%;
}
footer div.hr {
	content: "";
	width: 45%;
	border-bottom: 1px solid rgb(146, 145, 145);
}
.pin-icon {
	display: flex;
	justify-content: space-evenly;
}
.footer-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: max-content;
	column-gap: 2.5vw;
}
.footer-grid > div:nth-child(1) {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.footer-grid > div:nth-child(1) > div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.footer-grid > div:nth-child(3) {
	text-align: center;
	font-size: 3vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.footer-social-media {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer-social-media > div {
	display: flex;
	align-items: center;
	min-height: 5vw;
}

footer .lectv-map {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}
footer .lectv-map > iframe {
	max-width: 100%;
	height: auto;
}
@media (max-width: 992px) {
	.footer-grid {
		gap: 0.5em;
		grid-template-columns: repeat(2, 1fr);
	}
	.footer-grid > div:nth-child(3) {
		grid-column: 1 / span 2;
	}
}
@media (max-width: 576px) {
	.footer-grid {
		gap: 0.25em;
		grid-template-columns: 1fr;
	}
	.footer-grid > div:nth-child(3) {
		grid-column: 1 / 1;
	}
}
