:root {
	--azul-claro: #6dccb0;
	--ver-oscuro-1: #80c97b;
	--ver-oscuro-2: #538b2c; 
	--ver-oscuro-3: #294615;
	--ver-oscuro-4: #339936;
	--ver-claro-1: #b5d181;
	--ver-claro-2: #a4e676;
	--ver-claro-3: #7bdb38;
	--ver-claro-4: #d0df96;
	--ver-claro-5: #9cd197;
	--ocre-1: #ffea9c;
	--ocre-2: #f5d08f;
	--marron: rgb(57, 43, 11);
	/*
	*==============================
	* Colores galeria
	*=================================*
	*/
	--negro: #393939;
	--blanco: #ececec;
	--sombra-ppal: #c9c9c9;
	--sombra-sec: #ffffff;
	--borde-negro: #00000050;
	--marcado: rgb(127, 195, 255);
	/*
	*==============================
	* Colores transparentes
	*=================================*
	*/
	--ocre-1-trasnparente: #ffea9cb9;
	--ocre-2-transparente: #f5d08fd8;
}
@media (prefers-color-scheme: dark) {
	:root {
		--negro: #ececec;
		--blanco: #303030;
		--sombra-ppal: #242424;
		--sombra-sec: #3c3c3c;
		--borde-negro: #ffffff50;
	}
}