/* 
    Content-Typography
*/
body {
    color: rgb(0, 0, 0);
	font-family: 'Poppins', 'Open Sans', 'Roboto', 
    'Lucida Sans', 'Lucida Sans Regular','Lucida Grande', 'Lucida Sans Unicode', Verdana,  sans-serif;
}
.body-font {
    color: rgb(0, 0, 0);
	font-family: 'Poppins', 'Open Sans', 'Roboto', 
    'Lucida Sans', 'Lucida Sans Regular','Lucida Grande', 'Lucida Sans Unicode', Verdana,  sans-serif;
}
.main-title {
    font-family: 'Montserrat', 'Trebuchet MS', 
    'Lucida Sans Unicode', Arial, sans-serif;
    font-weight: 500;
    font-size: 2.25em;
}
section.main-title {
    width: 100vw;
    min-height: 10vh;
}
.main-title div.title {
    display:flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    flex-wrap: wrap;
    width:60%;
    margin: 2.5vh auto 2.5vh;
    padding: 5.5px 0;
    color: rgb(255, 255, 255);
    background: #000000;
}
.title {
    font-family: 'Montserrat', 'Trebuchet MS', 
    'Lucida Sans Unicode', Arial, sans-serif;
    font-size: clamp(1em,4vh,2em);
    color: rgb(69, 46, 133);
    text-align: center;
    margin: 10px 0;
} 
.title-2{
    font-family: 'Montserrat', 'Trebuchet MS', 
    'Lucida Sans Unicode', Arial, sans-serif;
    font-size: clamp(1em,5vh,2.75em);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px 0;
} 
.subtitle {
    font-family: 'Montserrat', 'Trebuchet MS', 
    'Lucida Sans Unicode', Arial, sans-serif;
    font-size: clamp(1em,3.5vh,1.5em);
    color: rgb(69, 46, 133);
    text-align: center;
    margin: 5px 0;
}
.subtitle-2{
    font-family: 'Montserrat', 'Trebuchet MS', 
    'Lucida Sans Unicode', Arial, sans-serif;
    font-size: clamp(1em,3.5vh,1.5em);
    color: rgb(255, 255, 255);
    text-align: center;
} 
.initial-content {
    font-family: 'DM Sans', Arial;
    padding: 15px;
    text-align: justify;
    font-size: clamp(1em,5vh,1.25em);
    background-color:rgba(255, 255, 255, 0.801);
}
.presentation-title {
    font-family: 'DM Sans' Arial, sans-serif;
    font-size: clamp(1em,4vh,2em);
    color: #000;
    text-align: center;
    margin: 20px 0;
}
.presentation-content{
    font-family: 'DM Sans', Arial;
    padding: 15px;
    text-align: justify;
    font-size: clamp(0.75em,4vh,1em);
}
.main-content{
    font-family: 'Nunito', sans-serif;
    font-size:clamp(0.25em,1em, 1.25em);
}
.nav-font{
    font-family: 'Poiret One';
    font-size:0.75em;
    color: white;
    text-align: center;
}
.foot-img {
    font-family: 'Raleway', sans-serif;
    margin: 5vh auto;
    text-align: center;
}
.footer-font {
    font-family: 'Nunito', sans-serif;
    font-size:clamp(0.25em,0.75em, 1em);
}
.footer-title {
    font-family: 'DM Sans', sans-serif;
    font-size:clamp(0.5em, 1.25em, 1.5em);
    text-align: center;
}