<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba CSS grid</title>
    <link rel="stylesheet" type="text/css" href="css/pruebaGrid.css">
</head>
<body>
    <h1>Lo siguiente deberia de mostrar un grid de 3x3</h1>
    <div class="contenedor">
        <div class="grid q3">
            <div>H</div>
            <div>H</div>
            <div>H</div>
            <div>H</div>
            <div>H</div>
            <div>H</div>
            <div>H</div>
            <div>H</div>
            <div>H</div>
        </div>
        <div class="grid q1">
            <div>H</div>
            <div>H</div>
            <div>H</div>
            <div>H</div>
            <div>H</div>
            <div>H</div>
            <div>H</div>
            <div>H</div>
            <div>H</div>
        </div>
    </div>
</body>
</html>